#shopping-bag {
    height: 5vh;
    margin-top: 0.5em;
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F5F5F5;
    background-color: #414C6A;
    
}

.active {
    font-weight: bold;
}

.logo-section {
    padding: 1em;
}

.nav-links {
    display: flex;
    padding: 0 1em;
}

.nav-link {
    position: relative; 
    padding: 1em;
}

.dropdown-menu {
    position: absolute;
    top: calc(85%); 
    left: -10px;
    background-color: #313951;
    z-index: 1000;
    display: none; 
    list-style-type: none;
    padding: 10px;
    width: 100px; 
    border-radius: 8px; 

}

.nav-link:hover .dropdown-menu {
    display: block;  
}

.dropdown-menu li {
    margin-bottom: 5px;
    text-align: center;
}


.dropdown-menu a {
    text-decoration: none;
    color: #F5F5F5;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}